body{
	font:14px/1.5 'Open Sans', Aria, sans-serif;
	color:#555;
	font-weight: 300;
}

.ba-container{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
/*Typo*/
a{

	color:#82B440;
	text-decoration: underline;
	-webkit-transition: color 0.5s, text-shadow 0.5s;
	-moz-transition: color 0.5s, text-shadow 0.5s;
	transition: color 0.5s, text-shadow 0.5s;
}
h1,h2,h3,h4,h5,h6{
	margin-bottom: 23px;
	font-weight: normal;
}
p{
	margin-bottom: 23px;
}
h1{
	font-size: 29px;
	font-weight: 700;

}
h2{
	font-size: 26px;
}
h3{
	font-size: 23px;
}
h4{
	font-size: 18px;
	font-weight: 700;
}
h5,h6{
	font-size: 16px;
	font-weight: 700;
}
/*Header*/
.ba-header{
	background: url("../img/banner.jpg") no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size:cover;
	color:#fff;
}
.ba-header .banner{
	padding:70px 90px 90px;
}
.ba-header .banner:last-child{
	margin-bottom: 0;
}
.ba-header nav a{
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.ba-header nav:hover a{
	color:transparent;
	text-shadow: 0 0 3px #fff;
}
.ba-header nav:hover a:hover {
	color:#fff;
	text-shadow: none;
}
.ba-header nav:hover li:hover > a {
	color:#fff;
	text-shadow: none;
}
.ba-header nav{
	text-align: center;
	font-size: 0;
	background: rgba(0,0,0, 0.7);
}
.ba-header nav li{
	display:inline-block;
	position: relative;;

}
.ba-header nav li a{
	display: block;
	font-size: 14px;
	padding: 0 15px;
	height: 64px;
	line-height: 64px;
}
.ba-header nav .ba-dropdown{
	position: absolute;
	background-color: rgba(0,0,0, .7);
	width: 200px;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	display: none;
	top:100%;
	left:0;
}
.ba-header nav li:hover > .ba-dropdown{
	display: block;
}
.ba-header nav .ba-dropdown .ba-dropdown{
	left: 100%;
	top:0;
}
.ba-header nav .ba-dropdown li{
	display: block;
}
.ba-header nav .ba-dropdown li a{
	height: auto;
	line-height: 1.3;
	padding-top: 5px;
	padding-bottom: 5px;
}

.ba-header .logo{
	display: inline-block;
	text-transform: uppercase;
	background: #82B440;
	font-size:26px;
	padding-left:5px;
	padding-right:5px;
	margin-bottom: 15px;
}
.ba-header .banner p{
	font-size: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
}
/*Rows*/
.ba-row{
	padding: 90px 0;
}
.ba-row h1{
	text-transform: uppercase;
}
.ba-grid{
	margin-left: -80px;
}
.ba-byline{
	font-size: 20px;
}
.ba-grid > [class*="ba-width"]{
	padding-left: 80px;
}
.ba-row-sasha-grey{
	background: #f2f2f2;
}
.ba-service{
	padding-left: 40px;
	position: relative;

}
.ba-service .fa{
	position:absolute;
	display: block;
	left:10px;
	top:5px;
	color:#82B440;
	font-size: 21px;
}
.ba-bg-primary{
	background: #82B440;
	color:#ffffff;

}
.ba-bg-second{
	background-color: #222222;
}
.ba-button,button,
input[type="button"],
input[type="submit"],
input[type="reset"]{
	display: inline-block;
	color:#82B440;
	padding: 0 15px;
	height: 54px;
	line-height: 54px;
	border: 1px solid #82B440;
	text-decoration: none;
	text-transform: uppercase;
	font-family: inherit;
	cursor:pointer;
	font-size: 14px;
	letter-spacing: 1px;

	-webkit-transition: color 0.5s, background-color .5s, border-color .5s;
	-moz-transition: color 0.5s, background-color .5s, border-color .5s;
	transition: color 0.5s background-color .5s, border-color .5s;

}
.ba-button:hover,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover{
	background: #82B440;
	color:#fff;
}

.ba-bg-primary .ba-button,
.ba-bg-primary button,
.ba-bg-primary input[type="button"],
.ba-bg-primary input[type="submit"],
.ba-bg-primary input[type="reset"]{
	background-color: #82B440;
	color:#ffffff;
	border-color:#ffffff;

}
.ba-bg-primary .ba-button:hover,
.ba-bg-primary button:hover,
.ba-bg-primary input[type="button"]:hover,
.ba-bg-primary input[type="submit"]:hover,
.ba-bg-primary input[type="reset"]:hover{
	background-color: #ffffff;
	color:#82B440;

}
/*Image*/
.ba-round img{
	border:8px solid #fff;
	border-radius: 100%;
}
/*Footer*/
footer h1{
	color:#fff;
}
ul.icons {
	padding-bottom: 56px;
	border-bottom: 1px solid rgba(150,150,150, 0.3);
}

.icons li i {
	color: #4E4E4E;
	font-size: 28px;
}
.icons li i:hover {
	color: #fff;
}

ul.icons li {
	display: inline-block;
	line-height: 1;
	padding: 7px 14px;
}
.copyright,
.copyright p,
.copyright a {
	position: relative;
	text-transform: uppercase;
	text-align: center;
	padding: 42px 0 0 0;
	color: #7b7b7b;
	font-size: 16px;
	text-decoration: none;
}


